<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${ubicacionLog}\nlog-internal.log">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<!--<variable name="ubicacionLog" value="F:/IIS_Logs/{$Nombre_Aplicacion}"/>-->
	<variable name="ubicacionLog" value="C:/Users/rsotoc/OneDrive - BCI Seguros/Proyectos/Arquetipos/apiarquetipov2/logs/"/>
	
	<targets>
		<target xsi:type="AsyncWrapper" name="asyncFile">
			<target xsi:type="File"
			  name="fileTarget"
			  fileName="${ubicacionLog}\${shortdate}.log"
			  layout="${longdate}${newline}Nivel: ${level:uppercase=true}${newline}Máquina: ${machinename}${newline}Request ID: ${mdc:item=X-Request-ID:whenEmpty=N/A}${newline}Logger: ${logger}${newline}Mensaje: ${message}${newline}${onexception:INNER EXCEPTION\:${newline}${exception:format=ToString}${newline}}--------------------------------------------------${newline}"
			  maxArchiveFiles="10"
			  archiveAboveSize="314572800"
			  archiveNumbering="Rolling" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="fileTarget" />
	</rules>
</nlog>