# Configuración para advertencias de SonarLint en archivos .cs

[*.cs]
# S4487: Campos privados no leídos
dotnet_diagnostic.S4487.severity = warning

# S101: Nombres de clase que no cumplen con PascalCase
dotnet_diagnostic.S101.severity = warning

# S4144: Métodos que deben ser actualizados para que su implementación no esté vacía
dotnet_diagnostic.S4144.severity = warning

# S4792: Asegurarse de que la configuración del logger sea segura
dotnet_diagnostic.S4792.severity = warning

# S2245: Uso de generador de números pseudoaleatorio no seguro
dotnet_diagnostic.S2245.severity = warning

# S3267: Simplificar bucles usando LINQ
dotnet_diagnostic.S3267.severity = warning

# S5122: Configuración permisiva de CORS, asegúrate de que sea segura
dotnet_diagnostic.S5122.severity = warning

# S1854: Eliminación de asignaciones inútiles a variables locales
dotnet_diagnostic.S1854.severity = warning

# S927: Renombrar parámetros para cumplir con convenciones
dotnet_diagnostic.S927.severity = warning

# S2699: Añadir al menos una afirmación en los casos de prueba
dotnet_diagnostic.S2699.severity = warning
